    #news-container {
        width: 400px;
        margin: auto;
        border: 5px solid #333333;
    }

    #news-container ul li div {
        border: 1px solid #aaaaaa;
        background: #ffffff;
    }
